extends layout

body
  block content
    div#mario-chat
      h3#page_name #{details.title}
      hr
      div#chat-window
        div#output
        div#feedback
      input(type='text' placeholder='name and email' value='#{details.email}, #{details.name}')#handle
      input(type='text' placeholder='messages')#message
      button#send send
      script(src="/javascripts/socket.io.js")
      script(src='/javascripts/chat.js')