extends layout

block content
  div.container
    h1= title
    p Welcome to #{title}
      div.rows
        form(action="/submit", method="post")
          div.form-group
            label(for="email") Email Address
            input(type="text", name="email")#email.form-control
          div.form-group
            label(for="name") Name
            input(type="text", name="name")#name.form-control
          div.form-group
            label(for="exam") Exam
            select(name="exam")#exam.form-control
               option(value="star") STAR
               option(value="afcat") AFCAT
          button(type="submit") submit
    if errors
      hr
      h3 errors
      ul
        each err in errors
          li= err
        
    

          
         

